* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    position: relative;

    font-family: 'Oswald', sans-serif;
}

#container {
    width: 100%;
    display: block;
}

.nav {
    display: block;
    width: 100%;
    /*position: fixed;*/
    top: 0;
    z-index: 3;
    background: rgba(250, 250, 250, .7);
}

.nav > div {

    display: flex;    
    width: 96%;
    margin: 0 auto;
}

.nav-titulo {
    flex: 4;
}

.nav-titulo > div {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.nav-titulo > div h1 {
    font-size: 26px;
    line-height: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-menu {
    flex: 6;
}

.nav-menu > div {
    display: table;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-menu > div > div {
    display: table-cell;
    vertical-align: middle;
}

.buscador {
    width: 70%;
}

.buscador .input {
    float: left;
    width: 33%;
}

.input > input {
    display: block;
    width: 90%;
    margin: 0 auto;
    line-height: 28px;
    font-size: 15px;
    padding: 3px;
    border: none;
}

.input > select {
    display: block;
    margin: 0 auto;
    width: 90%;
    font-size: 15px;
    line-height: 28px;
    border: none;
    padding: 5px;
    height: 34px;
}

.input > button {
    border: none;
    background: rgb(77, 77, 77);
    display: block;
    margin: 0 auto;
    width: 50px;
    border-radius: 40px;
    cursor: pointer;
}

.input > button img {
    width: 85%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    display: block;
}

.login > div {
    display: block;
    margin: 0 auto;
    width: 90%;
}

.login > div button {
    display: block;
    width: 60px;
    line-height: 34px;
    cursor: pointer;
    border: none;
    margin: 0 auto;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.mis-lugares-busqueda {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 10px;

    background: white;
}

.mis-lugares-busqueda > div {
    display: table;
    width: 100%;
}

.mis-lugares-busqueda > div > section {
    display: inline-block;
    width: 20%;

    border: 1px solid black;
    padding: 10px;
}

.mi-lugar-header {
    display: inline-block;
    width: 70%;
    margin-bottom: 20px;
}

.mi-lugar-calificacion {
    display: inline-block;
    float: right;
    background: white;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 5%;
    width: 25%;
}

.mi-lugar-calificacion p {
    text-align: center;
    font-size: 28px;
    line-height: 32px;
}

.mi-lugar-titulo {
    margin-bottom: 5px;
}

.mi-lugar-titulo h3 {
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
}

.mi-lugar-direccion {
    margin-bottom: 5px;
}

.mi-lugar-direccion p {
    font-size: 15px;
    line-height: 24px;
    color: #333;
}

.mi-lugar-ciudad p {
    display: inline;
    font-size: 16px;
    line-height: 24px;
}

.mi-lugar-descripcion {
    width: 90%;
    margin-left: auto;
}


/***** Descripcion *****/
#descripcionGeneral {
    display: block;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

.secccion-descripcion {
    display: block;
    margin: 0 auto;
    width: 100%;
}

#seccionTitulo {
    display: table;
    width: 100%;
}

.seccion-titulo {
    display: table-cell;
    vertical-align: top;
}

#seccionTitulo .seccion-titulo:nth-child(1) {
    padding-top: 5%;
    width: 70%;
}

#seccionTitulo > div:nth-child(2) { 
    width: 30%;
}

.titulo-calif > div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.titulo {
    display: inline-block;
    width: 80%;
}

.titulo h1 {
    font-size: 32px;
    line-height: 50px;    
    letter-spacing: 1px;
}

.calificacion {
    float: right;
    width: 20%;
}

.calificacion p {
    font-size: 46px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    display: block;
}

.descripcion {
    margin-top: 20px;
}

.descripcion-texto {
    display: block;
    width: 96%;
    margin: 0;
    max-width: 680px;
}

.descripcion-texto p {
    font-size: 21px;
    line-height: 32px;
    text-align: justify;
}

.imgs-categorias {
    display: block;
    position: relative;
    width: 100%;
}

.carrusel {
    width: 90%;
    height: 300px;
    display: block;
    margin: 0 auto;
}

.carrusel img {
    width: 100%;
    display: block;
}

.seccion-titulo .imgs-categorias:nth-child(2) {
    display: block;
    width: 100%;
    margin-top: 15%;
}

.categorias-sub {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.categorias-sub p {
    display: block;
    font-size: 21px;
    line-height: 36px;
}